.Form_Text_Container {
  display: flex;
  justify-content: center;
  margin: 5% auto 0; /* Center the text and position it above the form */
}

.Form_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  height: auto;
  background-color: lightgreen;
}

.Form_Container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.Fields {
  margin: 10px;
}

#gender {
  margin-right: 15px;
}

#genderMale {
  margin-right: 10px;
}

#login {
  color: green;
  text-decoration: underline;
}

.button_container button {
  background-color: green;
  padding: 10px 40px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.button_container button:hover {
  background-color: darkgreen;
  color: white;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 425px) {
  .Form_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkgreen;
    width: 90%;
    margin: 10% auto;
    padding: 20px;
    background-color: lightgreen;
  }
  
  .Form_Text_Container {
    margin: 10% auto 5%;
  }
  
  #gender {
    margin-right: 10px;
  }
  
  #genderMale {
    margin-right: 5px;
  }

  .Fields {
    margin: 5px;
  }
}

@media screen and (min-width: 768px) {
  .Form_Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkgreen;
    width: 40%;
    margin: 5% auto;
    padding: 20px;
    background-color: lightgreen;
  }
  
  .Form_Text_Container {
    margin: 5% auto 0%;
  }

  #gender {
    margin-right: 10px;
  }
  
  #genderMale {
    margin-right: 5px;
  }

  .Fields {
    margin: 5px;
  }
}
